    /**
    * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
    * http://cssreset.com
    */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    line-height: 1;
    }




html,body{
    width:480px;
    height: 600px;
    margin: 0px;
    padding: 0px;

	}

body {
	overflow-x: hidden;
    background-color:#545454;
	}


#contentwrapper{
	width:480px;
	height:600px;
	position:absolute;
    margin:0 0 0 0; 
    padding:2em 1.5em 1em 1.5em;


}


h1, h2{
    color:white;
    font-family:'Poiret One', cursive;
    text-align:center;
}

h1{
    font-size:3em;
    text-align:center;

}

h2{
    font-size:1.1em;
    text-align:center;

}

h3{
    font-family:'Raleway', sans-serif;
    font-weight:200;
    font-size:.9em;
    text-align:left;
    color:white;
}

form{
    font-family:'Raleway', sans-serif;
    font-weight:200;
    font-size:.9em;
    text-align:left;
    color:white;

}


img{
    position:absolute;
    right:25%;
    left:70%;
}



